* {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

header {
    background-color: #178793;
    color: #f2f2f2;
    padding: 1vh 0 0 0;
    align-items: center;
    text-align: center;
    height: 20vh;
}

h2 {
    background-color: #178793;
    color: #f2924d;
    font-family: 'Pacifico', cursive;
    text-shadow: -3px 3px #00000f;

}

input, select{
    background-color: #ace2e5;
    border-radius: 5px;
    border: 0;
    padding: 3px;
}

button {
    border: 0;
    border-radius: 5px;
    padding: 3px;
    background-color: #0a4449;
    color: #ffffff;
}

main {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1 1 1 1;
}

section {
    background-color: #f2f2f2;
    color: #043c42;
    border: solid 2px #178793;
    margin: 3px 0 0 0;
    padding: 0;
    width: 20%;
    height: 100%;
    text-align: center; 
}

.dia {
    border-bottom: solid 2px #178793;
    height: 100%;
    padding-bottom: auto;
    margin: 5% 0 0 0;
    justify-content: center;
    align-items: center;
}

h4 {
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding-bottom: 2%;
    
}

.tarefa {
    border: solid 2px #178793;
    height: 70vh;
    width: 99%;
    justify-content: center;
    align-items: center;
}

ol {
    text-align: justify;
    margin-left: auto;
    padding:0  5% 0 10%;
}

