/* Estilos padrão para as todas as páginas */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border: 0;
    text-decoration: none;
}

a:link {
    color: #ffffff;
}

a:hover {
    color: #605b57;
}

a:visited {
    color: #ffffff;
}


header {
    background-color: #ef843a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.titulo-header {
    max-width: 100%;
}
.pesquisa {
    width: 20vw;
    height: 3vh;
    border-radius: 4px;
    
}

/* Grade 4x4 */

.principal {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template: 50% 50% / 20% 20% 20% 20%;
    align-items: center;
    justify-content: space-evenly;
}


figure {
    border: 1px solid #7a3908;
    width: 100%;
    height: 24vh;
    text-align: center;

}

img {
    
    width: 100%;
    height: 20vh;
}

p {
    font-size: 1.3em;
    font-family: 'Bangers', cursive;
    color: #f2924d;
    text-shadow: -3px 3px #665d56;
}


/* Rodapé */
footer {
    display: fixed;
    bottom: 0;
    background-color: #665d56;
    color: #ffffff;
    text-shadow: -2px 2px #000000;
    height: 8vh;
    text-align: center;
    padding: 2vh 0 0 0;
}

h2 {
    display: fixed;
    width: 100%;
    height: 4vh;
    font-size: 1em;
}

/* Fim Estilos padrão para as todas as páginas */

/* Estilos para as páginas dos vídeos */

h3 {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: #d3640f;
    text-shadow: -3px 3px #665d56;
    
}

main#video {
    width: 100%;
    height: 80vh;
    align-items: center;

}

#video2 {
    height: 90%;    
    text-align: center;
}

.video {
    padding: 10px 0 1% 0;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.video2 {
    padding: 10px 0 1% 0;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


/* Responsividade */

@media screen and (min-device-width: 100px) and (max-device-width: 500px) {

    #inicial {
        height: 250vh;
    }

    .principal {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template: repeat(9, 1fr)  / 90%;
        align-items: center;
        justify-content: center;
    }

    .figure {
        /* margin: 0.5vh 0 0.5vh 0; */
        width: 60%;
        height: 1vw;

    }

    footer {
        position: relative;
        /* display: absolute; */
        bottom: 0;
    }

    /* #video {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
    } */

}

@media screen and (max-device-width: 730px) {

    #video{
        width: 80%;
    }

    .video2 {
        align-items: center;
    }

    #video2 {
        width: 80%;
        align-items: center;
    }

    video{
        width: 80%;
    
    }

    
}